<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card">
            <div class="card-body text-center">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert alert-warning">
                            {% for category, message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                <p class="text-success">Hi, you are logged in as {{ current_user.s_username }}!</p>
                
                <a href="{{ url_for('products.home') }}" class="btn btn-primary my-1" style="width: auto; min-width: 250px;">Manage Inventory</a> <br>
                <a href="{{ url_for('customers.home') }}" class="btn btn-primary my-1" style="width: auto; min-width: 250px;">Manage Customers</a> <br>
                {% if current_user.s_isadmin %}
                <a href="{{ url_for('staff.home') }}" class="btn btn-primary my-1" style="width: auto; min-width: 250px;">Manage Staff</a> <br>
                {% endif %}
                <a href="{{ url_for('transactions.home') }}" class="btn btn-primary my-1" style="width: auto; min-width: 250px;">Manage Transactions</a> <br>
                <a href="{{ url_for('login.logout') }}" class="btn btn-danger my-1" style="width: auto; min-width: 250px;">Logout</a>

                {% if error %}
                    <p class="text-danger mt-3">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>